<!doctype html>
<title>club hue</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/jquery-ui.css') }}">
<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
<h1>club hue</h1>
<div class="content">
  {% block content %}{% endblock %}
</div>
